/* fonts */
@media screen {
@font-face {
  font-family: 'Droid Sans';
  font-style: normal;
  font-weight: bold;
  src: local('Droid Sans Bold'), local('DroidSans-Bold'), url('http://themes.googleusercontent.com/static/fonts/droidsans/v3/EFpQQyG9GqCrobXxL-KRMQFhaRv2pGgT5Kf0An0s4MM.woff') format('woff');
}
}

@media screen {
@font-face {
  font-family: 'Droid Sans';
  font-style: normal;
  font-weight: normal;
  src: local('Droid Sans'), local('DroidSans'), url('http://themes.googleusercontent.com/static/fonts/droidsans/v3/s-BiyweUPV0v-yRb-cjciBsxEYwM7FgeyaSgU71cLG0.woff') format('woff');
}
}


@media screen {
@font-face {
  font-family: 'Arvo';
  font-style: normal;
  font-weight: normal;
  src: local('Arvo'), url('http://themes.googleusercontent.com/static/fonts/arvo/v5/WJ6D195CfbTRlIs49IbkFw.woff') format('woff');
}
}
@media screen {
@font-face {
  font-family: 'Signika';
  font-style: normal;
  font-weight: 300;
  src: local('Signika-Light'), url('http://themes.googleusercontent.com/static/fonts/signika/v2/koFYE26bhT88HgRA8f4vbRsxEYwM7FgeyaSgU71cLG0.woff') format('woff');
}
}

/* Override some defaults */
html, body {
    background-color: #eee;
}
body {
    font-family: 'Droid Sans', "Helvetica Neue", Helvetica, Arial, sans-serif;
}
.container > footer p {
    text-align: center; /* center align it with the container */
}
.container {
    width: 820px; /* downsize our container to make the content feel a bit tighter and more cohesive. NOTE: this removes two full columns from the grid, meaning you only go to 14 columns and not 16. */
}

/* The white background content wrapper */
.content {
    background-color: #fff;
    padding: 20px;
    margin: 0 -20px; /* negative indent the amount of the padding to maintain the grid system */
    -webkit-border-radius: 0 0 6px 6px;
    -moz-border-radius: 0 0 6px 6px;
    border-radius: 0 0 6px 6px;
    -webkit-box-shadow: 0 1px 2px rgba(0,0,0,.15);
    -moz-box-shadow: 0 1px 2px rgba(0,0,0,.15);
    box-shadow: 0 1px 2px rgba(0,0,0,.15);
}

/* Page header tweaks */
.page-header {
    background-color: #f5f5f5;
    padding: 20px 20px 10px;
    margin: -20px -20px 20px;
}

/* Styles you shouldn't keep as they are for displaying this base example only */
/*.content .span10,*/
/*.content .span4 {*/
    /*min-height: 500px;*/
/*}*/
/* Give a quick and non-cross-browser friendly divider */
.content .span4 {
    margin-left: 0;
    padding-left: 19px;
    /*border-left: 1px solid #eee;*/
}

.topbar .btn {
    border: 0;
}



#footer {
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    border-radius: 6px;
    background:whitesmoke;
    padding:10px;
 }


.radius {
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    border-radius: 6px;
}

.brand {
    background: url("/static/img/myadslot-logo-white.png") center center no-repeat;
    width:120px;

    text-indent: -999px;
}

.topbar form {
    margin-right:-10px;
}

.hero-unit {
    background: #f5f5f5 url("/static/img/myadslot-landing-page.png") center right no-repeat;
    padding: 60px 60px 60px 30px;
}

.hero-unit h1 {
    margin-bottom: 0;
    font-size: 60px;
    line-height: 1;
    letter-spacing: -1px;
    font-size:27px;
    line-height: 40px;
}
.hero-unit p {
    font-size: 15px;
    font-weight: 200;
    line-height: 27px;
    width:350px;

}

.click4action {
    padding-top:7px;
    text-align: center;
}

.click4action .btn {
    font-weight: bold;
     margin-bottom:4px;
    width:180px;
 }
.click4action span {
    color: #292929;
    display:block;
    font-size:14px;
    font-weight: bold;
}

.click4action small {
    color:gray;
}

.italic {
    font: italic 34px Georgia, serif;
    color: rgb(176, 176, 176);
    text-align: center;
    border-bottom:1px dashed rgb(176, 176, 176);
    margin-left:10px;
    margin-top:30px;
    padding:20px;
}


.column h2 {
    font-family:'Arvo';
    margin: 10px 0;
    font-size:18px;
 }


/* footer */

footer h4 {
    color: #999;
}

footer a, footer a:visited, footer a:hover {
    color: white;
}

footer a:hover {text-decoration:underline}

footer {
    background: #252525;
    border-top: none;
    height:110px;
    width:100%;

    position:absolute;
    bottom:0;
	

 }

html,body {
    height: 100%;
}

#wrap {
    min-height:100%;
    position:relative;
}
#container-wrap {
    padding-bottom:134px;	/* Height of the footer */

}

.content {margin-top:40px;}
