{% extends 'base.html' %}
{% load i18n %}

{% block heading %}
    Add advertisement
{% endblock %}

{% block content %}
    <ul class="breadcrumb">
        <li><a href="{% url dashboard %}">{% trans 'My slots' %}</a>  <span class="divider">/</span></li>
        <li><a href="{% url adserver_ads slot.slot %}">{{ slot.title }}</a>  <span class="divider">/</span></li>
        <li class="active">  {% trans 'Add an advertisement' %}</li>
    </ul>



    <form action="" method="post">
        {{ form.render_errors }}
        {% csrf_token %}
        {{ form.as_div }}
        <div class="actions">
            <input type="submit" class="btn primary" value="{% trans "Save" %}">
            <a href="{% url dashboard %}" class="btn">Cancel</a>
        </div>
    </form>


{% endblock %}