{% extends 'base.html' %}
{% load i18n %}

{% block heading %}
    {% trans 'Advertisements' %}
{% endblock %}

{% block content %}


    <ul class="breadcrumb">
        <li><a href="{% url dashboard %}">{% trans 'My slots' %}</a>  <span class="divider">/</span></li>

        <li class="active">{{ slot.title }}</li>
    </ul>


    <p>

     <a class="btn success" href="{% url adserver_add_advertisement slot.slot %}">{% trans 'Add an advertisement' %}</a>
     <a class="btn" href="{% url adserver_stats_slot slot.slot %}">{% trans 'Get slot statistics' %}</a>
        <a  class="btn " href="{% url adserver_get_snippet slot.slot %}">{% trans 'Get snippet for this slot' %}</a>
        <a  class="btn " href="{% url adserver_preview_slot slot.slot %}">{% trans 'Preview this slot' %}</a>
    </p>

    {% if slot.advertisement_set.all %}
        <table class="zebra-striped bordered-table">
            <thead>
                <tr>
                    <th>{% trans 'Title' %}</th>
                    <th>{% trans 'Publish State' %}</th>
                    <th>{% trans 'Start Date' %}</th>
                    <th>{% trans 'Finish Date' %}</th>
                    <th colspan="2">{% trans 'View Count' %}</th>
                </tr>
            </thead>
            <tbody>
            {% for advertisement in slot.advertisement_set.all %}
                <tr>
                    <td><a href="{{ advertisement.get_absolute_url }}">{{ advertisement.title }}</a></td>
                    <td><span class='label {{  advertisement.is_active|yesno:'success,warning' }}'>{{ advertisement.get_state }}</span></td>
                    <td>{{ advertisement.get_start_date }}</td>
                    <td>{{ advertisement.get_end_date }}</td>
                    {% with advertisement.view_count as count  %}
                    <td>{% blocktrans%}{{ count }} Views{% endblocktrans %}</td>
                    {% endwith %}
                    <td><a href="{% url adserver_advertisement_visitors advertisement.adslot.slot advertisement.id %}">{% trans 'Visitors' %}</a></td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    {% else %}
        {% trans "You didn't add any advertisement..." %}
    {% endif %}

{% endblock %}