{% extends 'base.html' %}
{% load i18n %}

{% block heading %}
    {% trans 'Dashboard' %} <small>{% trans 'Everything is under control !' %}</small>
{% endblock %}

{% block content %}

    <p>
      <a class="btn success large" href="{% url adserver_add_slot %}">{% trans 'New Slot' %}</a>
    </p>

    {% if slots %}
        <table class="zebra-striped bordered-table">
            <thead>
                <tr>
                    <th>Title</th>
                    <th>Slot</th>
                    <th>Sizes</th>
                </tr>
            </thead>
            <tbody>
            {% for slot in slots %}
                <tr>
                    <td><a href="{{ slot.get_absolute_url }}">{{ slot.title }}</a></td>
                    <td>{{ slot.slot }}</td>
                    <td>{{ slot.get_sizes_display }}</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    {% else %}
        {% trans 'Not added any slot...' %}
    {% endif %}

{% endblock %}