{% extends 'base.html' %}
{% load i18n %}

{% block content %}
    <ul class="breadcrumb">
        <li><a href="{% url dashboard %}">{% trans 'My slots' %}</a>  <span class="divider">/</span></li>
        <li><a href="{% url adserver_ads slot.slot %}">{{ slot.title }}</a>  <span class="divider">/</span></li>
        <li><a href="{% url adserver_ads slot.slot %}">{{ slot.title }}</a>  <span class="divider">/</span></li>
        <li class="active"> {% trans 'Preview' %} </li>
    </ul>

    <h3>{% trans 'Slot Preview' %}</h3>

    <div class="preview_slot">{{ slot.get_snippet|safe }}</div>


{% endblock %}