{% extends 'base.html' %}
{% load i18n %}


{% block heading %}
    {% trans 'Add a slot' %}
{% endblock %}

{% block content %}

    {% if form.is_valid %}
        <div class="alert-message success">{% trans 'Congratulations. Slot was saved successfully.' %}</div>

        <strong>{% trans 'Code snippet for added item' %}</strong>
        <pre>{{ form.instance.get_snippet }}</pre>

            <a class="btn" href="{% url dashboard %}">{% trans 'Back to my slots' %}</a>

    {% else %}
    <form action="" method="post" class="">
         {% csrf_token %}
        <fieldset>
        {{ form.as_div }}
        </fieldset>
        <div class="actions">
            <input type="submit" class="btn primary" value="{% trans "Save" %}">&nbsp;<a href="{% url dashboard %}" class="btn">{% trans 'Cancel' %}</a>
        </div>

    </form>
    {% endif %}

{% endblock %}