{% extends 'base.html' %}
{% load i18n datatags %}
{% block heading %}
    {% trans 'Advertisement Statistics' %}
{% endblock %}

{% block javascripts %}
    <script type="text/javascript" src="https://www.google.com/jsapi"></script>
    <script type="text/javascript">
        google.load("visualization", "1", {packages:["corechart"]});
        google.setOnLoadCallback(function () {

            /*
            *  Last 30 day view counts chart
            * */
            var data = new google.visualization.DataTable();
            data.addColumn('string', 'Date');
            data.addColumn('number', 'View Counts');
            data.addColumn('number', 'Unique Visits');
            data.addRows({{ last_month_visits|safe }});

            var options = {
                width: 750, height: 250,
                title: 'Last 30 day visit statistics'
            };

            var chart = new google.visualization.LineChart(document.getElementById('stats_view_counts'));
            chart.draw(data, options);
        })
    </script>

{% endblock %}

{% block content %}

    <ul class="breadcrumb">
        <li><a href="{% url dashboard %}">{% trans 'My slots' %}</a>  <span class="divider">/</span></li>
        <li><a href="{{ advertisement.adslot.get_absolute_url }}">{{ advertisement.adslot.title }}</a>  <span class="divider">/</span></li>
        <li class="active"> {{ advertisement.title }} </li>
    </ul>

    <div id="stats_view_counts"></div>




    <h3>{% trans 'Last 30 visits' %}</h3>

    {% data_table advertisement.get_last_visitors "ip_address,get_user_agent,visit_count,last_visit_date" %}

{% endblock %}