{% extends 'base.html' %}
{% load i18n %}

{% block heading %}
    {% trans 'Overall Statistics' %}
{% endblock %}

{% block javascripts %}
    <script type="text/javascript" src="https://www.google.com/jsapi"></script>
    <script defer src="{{ MEDIA_URL }}js/charts.js"></script>
    <script type="text/javascript">
        google.load("visualization", "1", {packages:["columnchart"]});
        $(function () {
            $("#browser_stats").build_chart({
                type : "pie",
                title : '{% trans 'Browser statistics' %}',
                chart_data: {{ browser_stats|safe }}
            })

            $("#stats_view_counts").build_chart({
                type : "line",
                title : '{% trans 'Last 30 day visit statistics' %}',
                chart_data: {{ last_month_visits|safe }}
            })
        })



    </script>

{% endblock %}

{% block content %}

    <h3>{% trans 'Visitor Statistics' %}</h3>

    <div id="stats_view_counts"></div>
    <h3>{% trans 'Browser Statistics' %}</h3>
    <div id="browser_stats"></div>


{% endblock %}