<!doctype html>
{% load i18n %}
<!-- paulirish.com/2008/conditional-stylesheets-vs-css-hacks-answer-neither/ -->
<!--[if lt IE 7]> <html class="no-js ie6 oldie" lang="en"> <![endif]-->
<!--[if IE 7]>    <html class="no-js ie7 oldie" lang="en"> <![endif]-->
<!--[if IE 8]>    <html class="no-js ie8 oldie" lang="en"> <![endif]-->
<!-- Consider adding an manifest.appcache: h5bp.com/d/Offline -->
<!--[if gt IE 8]><!--> <html class="no-js" lang="en"> <!--<![endif]-->
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">

    <title>My ad slots !</title>
    <meta name="description" content="">
    <meta name="author" content="">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <link rel="shortlink" href="myadslot.com">
    <!-- CSS: implied media=all -->
    <!-- CSS concatenated and minified via ant build script-->
    <link rel="stylesheet" href="{{ MEDIA_URL }}css/style.css">
    <link rel="stylesheet" href="{{ MEDIA_URL }}css/bootstrap.css">
    <link rel="stylesheet" href="{{ MEDIA_URL }}css/custom.css?v=0.2">
    <link rel="stylesheet" href="http://ajax.googleapis.com/ajax/libs/jqueryui/1.8.16/themes/base/jquery-ui.css">
    <!-- end CSS-->
    <link href='//fonts.googleapis.com/css?family=Droid+Sans:400,700' rel='stylesheet' type='text/css' />
    <link href='http://fonts.googleapis.com/css?family=Arvo|Signika:300' rel='stylesheet' type='text/css'>
    <script src="{{ MEDIA_URL }}js/libs/modernizr-2.0.6.min.js"></script>

</head>

<body class="{% block body_class %}{% endblock %}">

<div class="topbar">
    <div class="fill">
        <div class="container">
            <a class="brand" href="/">My Ad Slots</a>
            <ul class="nav">
                {% if user.is_anonymous %}
                <li><a href="/">{% trans 'Home' %}</a></li>
                <li><a href="{% url auth_pricing %}">{% trans 'Plans & Pricing' %}</a></li>
                <li><a href="{% url auth_login %}">{% trans 'Login' %}</a></li>
                {% else %}
                <li><a href="{% url dashboard %}">{% trans 'Dashboard' %}</a></li>
                <li><a href="{% url auth_inbox %}">{% trans 'Inbox' %}
                {% if request.user.message_set.unread.count %}
                <strong style='color:white'>({{ request.user.message_set.unread.count }})</strong>
                {% endif %}
                </a></li>
                {% endif %}
            </ul>
            {% if user.is_anonymous %}
            <form action="{% url auth_login %}" method="post" class="pull-right">
                {% csrf_token %}
                <input class="input-small" name="username" type="text" placeholder="{% trans 'Username' %}">
                <input class="input-small" name="password" type="password" placeholder="{% trans 'Password' %}">
                <button class="btn" type="submit">{% trans 'Login' %}</button>
            </form>
            {% else %}
            <ul class="nav secondary-nav" data-dropdown="dropdown">
            <li class="dropdown">
              <a href="#" class="dropdown-toggle">{{ user }}</a>
              <ul class="dropdown-menu">
                 <li><a href="{% url auth_change_password %}">{% trans 'Change Password' %}</a></li>
                 <li><a href="{% url auth_update_profile %}">{% trans 'My Profile' %}</a></li>
                <li class="divider"></li>
                <li><a href="{% url auth_logout %}">{% trans 'Logout' %}</a></li>

              </ul>
            </li>
          </ul>
            {% endif %}
        </div>
    </div>
</div>

    <div class="container">
{% block container %}
      <div class="content">
        <div class="page-header">
          <h1>{% block heading %}Myadslot <span>!</span> {% endblock %}</h1>
        </div>
        <div class="row">

          <div class="span14">
           {% block content %}
            <h3>content</h3>
           {% endblock %}
          </div>

        </div>
      </div>
{% endblock %}
<!-- confirm modal content -->


    </div> <!-- /container -->

   a {% include 'footer.html' %}



    <!-a- confirmation plugin -->
    <div id="confirm-modal" class="modal hide fade">
            <div class="modal-header">
                <a href="#" class="close">&times;</a>
                <h3>{% trans 'Are you sure ?' %}</h3>
            </div>
            <div class="modal-body">
                <p class="message-text"></p>
            </div>
            <div class="modal-footer">
                <a href="#" class="btn primary cancel">{% trans 'Cancel' %}</a>
                <a href="#" class="btn secondary okey">{% trans 'Yes' %}</a>
            </div>
     </div>
     <!-- /confirmation -->


<!-- JavaScript at the bottom for fast page loading -->

<!-- Grab Google CDN's jQuery, with a protocol relative URL; fall back to local if offline -->
<script src="//ajax.googleapis.com/ajax/libs/jquery/1.6.2/jquery.min.js"></script>
<script src="//ajax.googleapis.com/ajax/libs/jqueryui/1.8.16/jquery-ui.min.js"></script>
<script>window.jQuery || document.write('<script src="{{ MEDIA_URL }}js/libs/jquery-1.6.2.min.js"><\/script>')</script>


<!-- scripts concatenated and minified via ant build script-->
<script defer src="{{ MEDIA_URL }}js/plugins.js"></script>
<script defer src="{{ MEDIA_URL }}js/script.js"></script>
<script src="{{ MEDIA_URL }}js/libs/bootstrap/bootstrap-dropdown.js"></script>
<script src="{{ MEDIA_URL }}js/libs/bootstrap/bootstrap-modal.js"></script>
<script src="{{ MEDIA_URL }}js/libs/bootstrap/bootstrap-tabs.js"></script>
{% block javascripts %}
{% endblock %}



<!-- end scripts-->

<!-- Prompt IE 6 users to install Chrome Frame. Remove this if you want to support IE 6.
chromium.org/developers/how-tos/chrome-frame-getting-started -->
<!--[if lt IE 7 ]>
    <script src="//ajax.googleapis.com/ajax/libs/chrome-frame/1.0.3/CFInstall.min.js"></script>
    <script>window.attachEvent('onload',function(){CFInstall.check({mode:'overlay'})})</script>
  <![endif]-->

<!-- userrules feedback widget -->
<script type="text/javascript">
	var _usrp = {
		type: "button",
		company: "myadslot",
		host: "myadslot.userrules.com",
		mode: "advanced",
		sso: {},
		getVisitorId: function() {return "";},
		getAdditionalParams: function() {return "";},
		placement: "left",
		color: ["#32312E", "#62615E"]
	};

	(function(D) {
		var _usr = D.createElement("script"), s = D.getElementsByTagName("script")[0];
		_usr.type = "text/javascript"; _usr.async = true;
		_usr.src = ("https:" == D.location.protocol ? "https" : "http" ) + "://dtkm4pd19nw6z.cloudfront.net/js/userrules/9a41a826e957127b4e5bfc7d140e45c4/feedback.canary.js";
		s.parentNode.insertBefore(_usr, s);
	})(document);
</script>

</body>
</html>