{% extends 'base.html' %}
{% load i18n %}

{% block container %}

    <!-- Main hero unit for a primary marketing message or call to action -->
    <div class="hero-unit">
        <h1>My ad slots</h1>
        <p>{% blocktrans %}MyAdSlot web service helps you manage your advertisements from a single user friendly interface.
            MyAdSlot maintains all of your advertisement accounts.  In other words, your private advertising manager.{% endblocktrans %}</p>
        <p>



            <a href="{% url auth_register %}" class="btn primary large">{% trans 'Signup for free' %}&raquo;</a>
            <a href="{% url auth_pricing %}" class="btn default large">{% trans 'or View plans & pricing' %}</a>

        </p>
    </div>

    <!-- Example row of columns -->
    <div class="row">
        <div class="span7">
            <h3>{%  trans 'All the ads in one place !' %}</h3>
            <ul>
                <li>{% trans 'Enable or disable any one of your advertisements.' %}</li>
                <li>{% trans 'Choose start date or end date for your advertisements.' %}</li>
                <li>{% trans 'Analyze your advertisements.' %}</li>
                <li>{% trans 'With simplistic and clean user interface.' %}</li>
                 <li>{% trans 'All for free !' %}</li>
            </ul>
            <p><a class="btn" href="#">{% trans 'View details' %} &raquo;</a></p>
        </div>


        <div class="span7">
            <h3>{% trans 'What they say about MyAdSlot' %}</h3>
            <blockquote>
                <p>{%  blocktrans %}If you have too many sites and if you are interested in internet advertising you should try it.{% endblocktrans %}</p>
                <small>Ramazan Erikli</small>
            </blockquote>

            <blockquote>
                <p>{% blocktrans %}MyAdSlot is useful for manage internet advertisements. Thank you very much myadslot.com :){% endblocktrans %}</p>
                <small>Yaşar İçli</small>
            </blockquote>
        </div>

    </div>


{% endblock %}

