{% extends 'base.html' %}
{% load i18n %}

{% block body_class %}index{% endblock %}

{% block container %}
    <div class="content">
    <div class="hero-unit">
        <h1>{% trans 'Your private ad manager !' %}</h1>
        <p>{% blocktrans %}MyAdSlot web service helps you manage your advertisements from a single user friendly interface. MyAdSlot maintains all of your advertisement accounts. In other words, your private ad manager... {% endblocktrans %}</p>

    </div>
        <div class="row">
            <div class="span10">
                <h2>{%  trans 'All the ads in one place !' %}</h2>
                <p class="features">
                    {% blocktrans %}Enable or disable any one of your advertisements. Choose start date or end date for your advertisements. Analyze your advertisements with simplistic and clean user interface. All for free !{% endblocktrans %}
                </p>
            </div>
            <div class="span4 click4action">
                <a href="{% url auth_register %}" class="btn success large">{% trans 'Sign Up for Free' %}&raquo;</a>
                <span>{% trans '100% FREE !' %}</span>
                <small>{% trans 'for up to 10 slots' %}</small>
            </div>
        </div>


        <div class="italic">
            {% trans 'Analyze, maintain, sell your ads !' %}
        </div>


        <div class="row">
            <div class="column span5">
                <h2>{% trans 'SELLING ADS' %}</h2>
                <p>
                    {% blocktrans %}If your ad slot is empty, visitors can contact you from your web site. This dialog completely between you and your visitors. No credit card or anything.{% endblocktrans %}
                </p>
            </div>
            <div class="column span5">
                <h2>{% trans 'MAINTENANCE' %}</h2>
                <p>
                    {% blocktrans %}Enable or disable any one of your advertisements. Choose start date or end date for your advertisements. Analyze your advertisements with simplistic and clean user interface.{% endblocktrans %}
                </p>
            </div>
            <div class="column span4">
                <h2>{% trans 'ANALYZE' %}</h2>
                <p>
                    {% blocktrans %}Analyze your ads daily or monthly. Watch your visitors in real time. See visitor informations, visited pages, ip addresses.{% endblocktrans %}
                </p>

            </div>

        </div>




    </div>
{% endblock %}
