{% extends 'base.html' %}
{% load i18n %}

{% block heading %}
    {% trans 'Select which plan is right for you' %}
{% endblock %}

{% block content %}

    <table class="zebra-striped bordered-table">
        <thead>
            <th></th>
            <th>{% trans 'Free plan' %}</th>
            <th>{% trans 'Business plan' %}</th>
            <th>{% trans 'Advanced plan' %}</th>
        </thead>
        <tbody>
            <tr>
                <th>{% trans 'Pricing' %}</th>
                <td class="pricing">{% trans 'Free !' %}</td>
                <td class="pricing">5$ / {% trans 'Month' %}</td>
                <td class="pricing">10$ / {% trans 'Month' %}</td>
            </tr>

            <tr>
                <th>{% trans 'Slot Limit' %}</th>
                <td>10</td>
                <td>100</td>
                <td>{% trans 'Unlimited !' %}</td>
            </tr>

            <tr>
                <th>{% trans 'Ads Limit' %}</th>
                <td>100</td>
                <td>{% trans 'Unlimited !' %}</td>
                <td>{% trans 'Unlimited !' %}</td>
            </tr>

            <tr>
                <th>{% trans 'Statics' %}</th>
                <td>{% trans 'No' %}</td>
                <td>{% trans 'Yes' %}</td>
                <td>{% trans 'Yes' %}<span class="label warning">{% trans 'ADVANCED'%}</span></td>
            </tr>

            <tr>
                <th></th>
                <td><a href="{% url auth_register %}" class="btn info">{% trans 'Signup' %} !</a></td>
                <td><a href="{% url auth_register %}" class="btn info">{% trans 'Signup' %} !</a></td>
                <td><a href="{% url auth_register %}" class="btn info">{% trans 'Signup' %} !</a></td>
            </tr>


        </tbody>
    </table>

{% endblock %}