{% extends 'base.html' %}
{% load i18n %}

{% block heading %}
    {% trans 'Login' %}
{% endblock %}

{% block content %}
    <form action="" method="post">
        {% csrf_token %}
        {% if form.auth_error %}
            <div class="block-message alert-message error">
                {{ form.auth_error }}
            </div>
        {% endif %}
         {{ form.as_div }}
        <div class="actions">
            <input type="submit" class="btn primary" value="{% trans "Login" %}">
        </div>
    </form>

{% endblock %}